p{
    color:red;
}


#tw {
    color:blue;
}

.class {
    color:green;
}

.minha-div {
    background-color:aquamarine
}

div > span {

}

div span {

}

strong{
    display: inline-block;
    background-color: green;
    width: calc(100% - 20px);
}

.container {
    display: grid;
    background-color: #0066ad;
    padding: 8px;
    grid-template-columns: 80px 1fr;
    grid-template-rows: 50px 200px 50px;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    gap: 20px;
}

.item {
    background-color: #a2cff0;
    border: 2px solid black;
}

.header {
    grid-area: header;
}

.aside {
    grid-area: aside;
}

.main {
    grid-area: main;
}

.footer {
    grid-area: footer;
}